<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Bristle, <%= @user.first_name %>!</h1>
    <p>
      Please provide the following code to verify your email address with us:
    </p>
    <p>
      <strong><%= @code %></strong>
    </p>
    <p>
      Thanks for signing up!
    </p>
  </body>
</html>
